<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"></defaultProxy>

    <!--<mailSettings>
      <smtp from="vijayananthan.jc@cognizant.com" deliveryMethod="Network">
        <network
            defaultCredentials="true"
            host="10.237.5.105"
            port="25"
                    />
      </smtp>
      -->
    <!--<smtp deliveryMethod="Network" from="pappicts1@gmail.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="pappicts1@gmail.com" password="Password-1" enableSsl="true" />
      </smtp>-->
    <!--
    </mailSettings>-->
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="1.1.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>