<!--right side fixed div -->
<div class="right-tab scroll-pane">

    <div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic1.png" height="32px" width="32px">
        @*for UAT*@
        @*<a href="/Blog/Article/4">*@
        @*for prod*@
        <a href="/Blog/Article/4">
            <p>
                C2C Admin has posted a new blog 
            </p>
        </a>
    </div>
    <div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic2.png" height="32px" width="32px">
        <a href="/">
            <p>
                C2C Admin has posted a poll 
            </p>
        </a>
    </div>
    @*for UAT*@
    @*<div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic3.png" height="32px" width="32px">
        <a target="_blank" href="http://campus2cognizant.blob.core.windows.net/onecampusstore/locationguide.pdf" download="locationguide.pdf">
            <p>
                Location guide has been published on C2C
            </p>
        </a>
    </div>*@
    @*for PROD*@
    <div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic3.png" height="32px" width="32px" />
        <a target="_blank" href="http://c2cenginelog.blob.core.windows.net/onecampusstore/locationguide.pdf" download="locationguide.pdf">
            <p>
                Location guide has been published on C2C
            </p>
        </a>
    </div>
    @*for UAT*@
    @*<div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic4.png" height="32px" width="32px" />
        <a target="_blank" href="http://campus2cognizant.blob.core.windows.net/onecampusstore/faq.pdf" download="faq.pdf">
            <p>
                FAQ has been published in C2C 
            </p>
        </a>
    </div>*@
    @*for PROD*@
    <div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic4.png" height="32px" width="32px" />
        <a target="_blank" href="http://c2cenginelog.blob.core.windows.net/onecampusstore/faq.pdf" download="faq.pdf">
            <p>
                FAQ has been published in C2C 
            </p>
        </a>
    </div>
    <div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic1.png" height="32px" width="32px">
        <a href="/KnowCognizant">
            <p>
                ‘Know Cognizant’ section has been included in C2C portal
            </p>
        </a>
    </div>
    <div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic2.png" height="32px" width="32px">
        <a target="_blank" href="http://facebook.com/Cognizant">
            <p>
                New updates at Cognizant face book page
            </p>
        </a>
    </div>
    @*for UAT*@
    @* <div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic3.png" height="32px" width="32px" />
        <a target="_blank" href="http://campus2cognizant.blob.core.windows.net/learning-and-development/scope_of_learning_page1.html">
            <p>
                Cognizant Academy has posted new content
            </p>
        </a>
    </div>*@
    @*for PROD*@
    <div class="content-tracker">
        <img src="~/Content/Themes/base/images/ctpic3.png" height="32px" width="32px" />
        <a target="_blank" href="http://c2cenginelog.blob.core.windows.net/onecampusstore/scope_of_learning_page1.html">
            <p>
                Cognizant Academy has posted new content
            </p>
        </a>
    </div>


</div>
<!-- end right div -->
