<footer>
    <div class="left-copyright">
        <div class="left-top">
        </div>
        <div class="left-bottom">
            &copy; 2013 Cognizant. All rights reserved.
        </div>
    </div>
    <div class="center-note">
        Best viewed in 1024 x 768 or higher resolution with Internet Explorer 9+, Firefox 12+ & Chrome 18+ browser
    </div>
    <div class="right-menu">
        <img src="~/Content/Themes/base/Images/rss.png" height="22px" width="22px" style="float: left;">
        <a href="#">Sitemap</a> | <a href="@Url.Action("Contact","Home")">Contact Us</a>
    </div>
</footer>
