<header>
    <div id="content">
        <div id="left-section">
            <div id="campus-logo">
                <a href="/">
                    <img src="~/Content/Themes/base/images/onecampus.png" alt="one campus" /></a>
            </div>
        </div>
        @Html.Partial("_UserCorner")
    </div>
</header>
