@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<section class="body-content">
    <div class="cont-wrapper ">
        <section id="edit-blog">
            <h2>Sorry, an error occurred while processing your request.
            </h2>
        </section>
    </div>
</section>
