@{
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<div id="kcint-content">
    <div class="kc-heading back-btn">
        <a href="javascript: history.go(-1)" class="bck-btn">
            <img src="~/Content/Themes/base/Images/back.png" height="22" width="24">
        </a>
        <h2>We exist to bring positive change to industries and companies around the world
        </h2>
    </div>
    <div class="cont-kc">
        <div class="kcint-content" id="content_1">
            <p class="kcint-image">
                <img src="~/Content/Themes/base/Images/kc-inter-image2.png">
            </p>

            <p>
                Our individual employees strive to find the best ways to help our clients adapt to the forces we know will shape their future. To come up with out-of-the-box ideas and act on them.
            <br />

                But when we come together as a team, we are better poised to make an impact. We tap into our collective expertise, working closely-nearby and across the globe-to turn ideas into reality. 
            <br />
            </p>
            <p>
                As a team, we’re future makers. That’s big. 
            <br />
                <a href="http://www.cognizant.com/aboutus/about-us" target="_blank">http://www.cognizant.com/aboutus/about-us</a>
            </p>

            <p>
                Find out what are the exciting things happening at Cognizant: <a href="http://news.cognizant.com/" target="_blank">http://news.cognizant.com/</a>

            </p>

        </div>
    </div>
</div>

<link href="~/Content/themes/base/styles/menu.css" rel="stylesheet" />
@section Scripts {
    <script type="text/javascript">
        divalignment("knowcognizantminitile");
    </script>
}
