
    <div>
        <div class="left-poll">            
            Loading poll...
            </div>
        <div class="right-poll">
            </div>
    </div>
    <div>
        <div id="chart">
        </div>
    </div>
