@{
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

<div id="kcint-content">
    <div class="kc-heading back-btn">
        <a href="javascript: history.go(-1)" class="bck-btn">
            <img src="/Content/Themes/base/Images/back.png" height="22" width="24"/>
        </a>
        <h2>
            The Future is Calling
        </h2>
    </div>
    <div class="future" id="content_1">
        <p>
            Welcome to your future. Welcome to Cognizant. Here, you can truly change what’s
            possible for you-and our clients. From our side, we’ve designed our environment
            to help you explore, create, achieve, and grow toward that goal.
            <br />
            When you enter Cognizant, you can expect:
        </p>
        <ul class="future-list">
            <li>A collaborative approach to work. You’ll be part of an energized, connected, global
                team, and have the freedom and tools to continuously outdo yourself and your best
                work. </li>
            <li>Stability and growth. We’re a Fortune 500 company generating more than $ 7.3 billion
                in annual revenue and growing faster than other firms in our field. That means we
                offer you the foundation and the opportunity to take your career to the next level.
            </li>
            <li>Your performance, not your age or tenure, will drive your career path. </li>
        </ul>
      
        <p>
            We look forward to seeing how you shape the future of work-and your future at work.
            Come.<br>
            Together Let’s <strong>Run Better, Run Different</strong>.
        </p>
    </div>
</div>

<link href="~/Content/themes/base/styles/menu.css" rel="stylesheet" />

