<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <defaultProxy useDefaultCredentials="true" enabled="true" />
  </system.net>
  <appSettings>
    <!--UAT CONFIGURATION-->
    <!--For local test client to get acs token-->
    <add key="AcsPassword" value="password-1" />
    <add key="AcsUserName" value="onecampususer" />
    <add key="AcsNamespace" value="onecampusacs" />
    <add key="AcsRealm" value="http://127.0.0.1:8080/MailingService.svc/" />
    <!--END UAT CONFIGURATION-->
 
    <!--PRODUCTION CONFIGURATION-->
    <!--<add key="AcsPassword" value="password-1" />
    <add key="AcsNamespace" value="onecampusc2c" />
    <add key="AcsUserName" value="onecampususer" />
    <add key="AcsRealm" value="https://c2cmailingservice.cloudapp.net/Mailingservice.svc/" />-->
    <!--END PRODUCTION CONFIGURATION-->
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>