<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="LocalConfig"
    connectionString="Data Source=PC313097\SQLDEV2008R2;Initial Catalog=KCTESTDB;User ID=sa;Password=password-1"/>
    <add name="AzureConfig"
    connectionString="Data Source=PC313097\SQLDEV2008R2;Initial Catalog=KCTESTDB;User ID=sa;Password=password-1"/>
    <!--<add name="Config"
    connectionString="Data Source=PC3135897\SQLDEV2008R2;Initial Catalog=KCTESTDB;Integrated Security=True;User ID=sa;Password=password-1"/>-->
  </connectionStrings>
  <appSettings>
    <add key="entrylogpath" value="D:\468544\Entrylog\entryLog.txt"/>
  </appSettings>
</configuration>