@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notification Hub up and running...</title>
</head>
<body>
    <h1>Notification Hub up and running...</h1>
    <div>
        
    </div>
</body>
</html>
