@model C2C.UI.ViewModels.UnreadFeedsViewModel
@if (Model.NotificationContents == null || Model.NotificationContents.Count == 0)
{
    <p>No unread feed's.</p> 
}

else
{
    foreach (var item in Model.NotificationContents)
    {  
    <a href= "@item.URL">
        <p>@item.Description</p>
    </a>
    }
}



