<div id="sub-menu-items" class="back-btn">
    <a href="javascript: history.go(-1)" class="bck-btn">
        <img src="~/Content/Themes/base/Images/back.png" height="22" width="24">
    </a>
    <ul class="child">
        <li class="first"><a href="@Url.Action("Index", "User")">List User</a></li>
        <li><a href="@Url.Action("Create", "User")">Create User</a></li>
    </ul>
</div>
<link href="~/Content/themes/base/styles/menu.css" rel="stylesheet" />
