@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_NavLayout.cshtml";
}
<section id="contact">
    <div class="qc-left">
        <div class="contact-us">
            <div class="contact-note">
                <h2>CONTACT US </h2>
                <p>
                    Please write us at <a href="mailto:campustocognizant@cognizant.com?Subject=Hello">campustocognizant@cognizant.com</a>
                </p>
            </div>
            <img src="~/Content/Themes/base/images/contact-last.png" class="contac-img">
        </div>
    </div>
</section>
